body{
  background-image: url('../main_data/clg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-color: black;
  backdrop-filter: blur(10px);
}